* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

nav a {
    text-decoration: none;
    color: black;
    transition: all 0.1s;
    font-weight: 600;
}
nav a:hover {
    transform: scale(0.95);
}
nav a:active {
    transform: scale(1.1);
    color: red;
}
a:focus {
    color: red;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
}

body {
    background-color: #475569;
    background-image: radial-gradient(whitesmoke, #475569);
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    position: sticky;
    z-index: 10;
    background-color: gray;
    width: 100%;
    text-align: center;
}
h1 {
    padding: 1rem 0;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: oblique;
}

nav {
    width: 100%;
    background-color: azure;
}

ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}

li {
    list-style-type: none;
}

.foo {
    transition: all 0.7s;
    cursor: pointer;
}

.foo:hover {
    transform: scale(1.05);
    border: 2px solid red;
}

main {
    scroll-behavior: smooth;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem;
}

.card {
    max-width: 350px;
    scroll-margin-top: 8rem;
    border: 2px solid black;
    padding: 0.8rem;
    border-radius: 10px;
    background-color: #cbd5e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    flex: 1 1 33%;
    margin: auto;
}

figure {
    width: 100%;
    height: 100%;
}

header {
    top: 0;
}
footer {
    bottom: 0;
}

@media screen and (min-width: 600px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 728px) {
}

@media screen and (max-width: 800px) {
    nav {
        display: none;
    }
}
